<small><small><i>
Introduction to Python for Bioinformatics - available at https://github.com/kipkurui/Python4Bioinformatics.
</i></small></small>

## Dictionaries

Dictionaries are mappings between keys and items stored in the dictionaries. Unlike lists and tuples, dictionaries are unordered. Alternatively one can think of dictionaries as sets in which something stored against every element of the set. They can be defined as follows:

To define a dictionary, equate a variable to { } or dict()

In [1]:
d = dict() # or equivalently d={}
print(type(d))
d['abc'] = 3
d[4] = "A string"
print(d)

<class 'dict'>
{'abc': 3, 4: 'A string'}

In [9]:
d

{4: 'A string', 'abc': [7.0, 0]}

In [8]:
d['abc'] = [7.0,0]

As can be guessed from the output above. Dictionaries can be defined by using the `{ key : value }` syntax. The following dictionary has three elements

In [15]:
d = { 1: 'One', 2 : 'Two', 100 : 'Hundred'}
len(d)

3

Now you are able to access 'One' by the index value set at 1

In [3]:
print(d[1])

One

There are a number of alternative ways for specifying a dictionary including as a list of `(key,value)` tuples.
To illustrate this we will start with two lists and form a set of tuples from them using the **zip()** function
Two lists which are related can be merged to form a dictionary.

In [12]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
#[ (name,number) for name,number in zip(names,numbers)] # create (name,number) pairs

In [16]:
al2 = dict()
for i in range(len(names)):
    al2[names[i]] = numbers[i]

In [24]:
al = dict()
for name,number in zip(names,numbers):
    al[name] = number

Now we can create a dictionary that maps the name to the number as follows.

In [18]:
a1 = dict((name,number) for name,number in zip(names,numbers))
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

Note that the ordering for this dictionary is not based on the order in which elements are added but on its own ordering (based on hash index ordering). It is best never to assume an ordering when iterating over elements of a dictionary.

By using tuples as indexes we make a dictionary behave like a sparse matrix:

In [6]:
matrix={ (0,1): 3.5, (2,17): 0.1}
matrix[2,2] = matrix[0,1] + matrix[2,17]
print(matrix)

{(0, 1): 3.5, (2, 17): 0.1, (2, 2): 3.6}

Dictionary can also be built using the loop style definition.

In [7]:
a2 = { name : len(name) for name in names}
print(a2)

{'One': 3, 'Two': 3, 'Three': 5, 'Four': 4, 'Five': 4}

### Built-in Functions

The **len()** function and **in** operator have the obvious meaning:

In [8]:
print("a1 has",len(a1),"elements")
print("One is in a1",'One' in a1,"but not Zero", 'Zero' in a1)

a1 has 5 elements
One is in a1 True but not Zero False

**clear( )** function is used to erase all elements.

In [9]:
a2.clear()
print(a2)

{}

**values( )** function returns a list with all the assigned values in the dictionary. (Acutally not quit a list, but something that we can iterate over just like a list to construct a list, tuple or any other collection):

In [10]:
[ v for v in a1.values() ]

[1, 2, 3, 4, 5]

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [11]:
{ k for k in a1.keys() }

{'Five', 'Four', 'One', 'Three', 'Two'}

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used - except that the ordering has been 'shuffled' by the dictionary.

In [58]:
",  ".join( "%s = %d" % (name,val) for name,val in a1.items())

'One = 1,  Two = 2,  Three = 3,  Four = 4,  Five = 5'

In [59]:
[(name,val) for name,val in a1.items()]

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [83]:
#a1.pop('Four')

In [76]:
?al.pop

In [82]:
al['Four']

'four'

In [73]:
al

{'Five': 5, 'Four': 'four', 'One': 1, 'Three': 3, 'Two': 2}

## Exercise

- Using strings, lists, tuples and dictionaries concepts, find the reverse complement of AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA

## Ivan

In [2]:
dna=list('AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA')

In [3]:
dna

['A',
 'A',
 'A',
 'A',
 'A',
 'T',
 'C',
 'C',
 'C',
 'G',
 'A',
 'G',
 'G',
 'C',
 'G',
 'G',
 'C',
 'T',
 'A',
 'T',
 'A',
 'T',
 'A',
 'G',
 'G',
 'G',
 'C',
 'T',
 'C',
 'C',
 'G',
 'G',
 'A',
 'G',
 'G',
 'C',
 'G',
 'T',
 'A',
 'A',
 'T',
 'A',
 'T',
 'A',
 'A',
 'A',
 'A']

In [7]:
dna.reverse()

In [8]:
dna

['A',
 'A',
 'A',
 'A',
 'T',
 'A',
 'T',
 'A',
 'A',
 'T',
 'G',
 'C',
 'G',
 'G',
 'A',
 'G',
 'G',
 'C',
 'C',
 'T',
 'C',
 'G',
 'G',
 'G',
 'A',
 'T',
 'A',
 'T',
 'A',
 'T',
 'C',
 'G',
 'G',
 'C',
 'G',
 'G',
 'A',
 'G',
 'C',
 'C',
 'C',
 'T',
 'A',
 'A',
 'A',
 'A',
 'A']

In [9]:
''.join(dna)

'AAAATATAATGCGGAGGCCTCGGGATATATCGGCGGAGCCCTAAAAA'

In [14]:
compliment = {"A":"T","T":"A","G":"C","C":"G"}

In [15]:
type(compliment)

dict

In [19]:
compliment['A']

'T'

In [20]:
rev_comp3 = ''.join(compliment[x] for x in dna)

In [21]:
rev_comp3

'TTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'

In [63]:
DNA="AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA"

In [60]:
DNA= DNA.replace('A','t',).replace()
DNA=DNA.replace('T','A')
DNA= DNA.replace('C','g')
DNA=DNA.replace('G','C').upper()

In [38]:
J=list(H)

In [48]:
J.reverse()

In [49]:
J

['T',
 'T',
 'T',
 'T',
 'A',
 'T',
 'A',
 'T',
 'T',
 'A',
 'C',
 'G',
 'C',
 'C',
 'T',
 'C',
 'C',
 'G',
 'G',
 'A',
 'G',
 'C',
 'C',
 'C',
 'T',
 'A',
 'T',
 'A',
 'T',
 'A',
 'G',
 'C',
 'C',
 'G',
 'C',
 'C',
 'T',
 'C',
 'G',
 'G',
 'G',
 'A',
 'T',
 'T',
 'T',
 'T',
 'T']

In [50]:
''.join(J)

'TTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'

In [59]:
'TTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'[::-1]

'TTTTTAGGGCTCCGCCGATATATCCCGAGGCCTCCGCATTATATTTT'

### Exercise 2
Given a DNA sequence, find the most common k-mer (3-mer)

In [54]:
dna = "AAGAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAAAGAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAAAGAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAAAGAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA"

In [31]:
dna[0:3]

'AAG'

In [32]:
dna[1:4]

'AGA'

In [39]:
dna.count('AAA')

2

In [55]:
step = 0
dna_list = []
while step <= len(dna)-3:
    dna_list.append(dna[step:step+3])
    step = step + 1

In [67]:
step = 0
dna_list2 = []
for i in range(len(DNA)-3):
    dna_list2.append(DNA[i:i+3])

In [68]:
dna_list2

['AAA',
 'AAA',
 'AAA',
 'AAT',
 'ATC',
 'TCC',
 'CCC',
 'CCG',
 'CGA',
 'GAG',
 'AGG',
 'GGC',
 'GCG',
 'CGG',
 'GGC',
 'GCT',
 'CTA',
 'TAT',
 'ATA',
 'TAT',
 'ATA',
 'TAG',
 'AGG',
 'GGG',
 'GGC',
 'GCT',
 'CTC',
 'TCC',
 'CCG',
 'CGG',
 'GGA',
 'GAG',
 'AGG',
 'GGC',
 'GCG',
 'CGT',
 'GTA',
 'TAA',
 'AAT',
 'ATA',
 'TAT',
 'ATA',
 'TAA',
 'AAA']

In [56]:
len(set(dna_list))

26

In [50]:
dna_dict = {}
for dna in set(dna_list):
    dna_dict[dna] = dna_list.count(dna)

In [49]:
for dna in set(dna_list):
    print(dna,dna_list.count(dna))

CGT 1
AAG 1
ATA 4
GTA 1
TAG 1
GAA 1
AAA 3
GGC 4
AGG 3
TAT 3
GGG 1
GGA 1
GCG 2
CGA 1
AAT 2
CTA 1
GCT 2
CCC 1
TAA 2
ATC 1
CCG 2
CTC 1
TCC 2
GAG 2
CGG 2
AGA 1

Solve the Pattern Matching Problem with Text = GACGATATACGACGATA and Pattern = ATA to find all starting positions of Pattern in Text. Return the starting positions in increasing order (make sure to use 0-based indexing!)